[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Guillem Andreu
	email = git@guillemandreu.com
	signingkey = ABCXYZ
[core]
	editor = nano
	excludesfile = /Users/guillem/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[pull]
	rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
